@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove the Scroll Bar */
::-webkit-scrollbar{
    display: none;
}

@keyframes heart-float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-30px); /* Height of the float */
        opacity: 1;
    }
    100% {
        transform: translateY(-60px); /* How high it will float */
        opacity: 0; /* Fade out */
    }
}

.floating-heart {
    animation: heart-float 1s ease forwards; /* Match duration with timeout in JavaScript */
    pointer-events: none; /* Prevent interaction with the floating heart */
}




